@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

a.fill {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("background.png");
    caret-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blur-overlay {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    backdrop-filter: blur(50px);
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FFFFFF80;
    color: #00000080;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 22px;
    top: 50%;
    left: 50%;
    width: 624px;
    height: 624px;
    transform: translate(-50%, -50%);
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: #FFFFFF20;
    -webkit-box-shadow: inset 0px 0px 0px 2px #FFFFFF20;
    -moz-box-shadow: inset 0px 0px 0px 2px #FFFFFF20;
    box-shadow: inset 0px 0px 0px 2px #FFFFFF20;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 5px;
}

.grid > div {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 0px 2px #FFFFFF20;
    -moz-box-shadow: inset 0px 0px 0px 2px #FFFFFF20;
    box-shadow: inset 0px 0px 0px 2px #FFFFFF20;
    transition: 0.35s;
    -moz-transition: 0.35s;
    -webkit-transition: 0.35s;
}

.grid > div img {
    filter: drop-shadow(0px 0px 2.5px #FFFFFF80);
    transition: 0.35s;
    -moz-transition: 0.35s;
    -webkit-transition: 0.35s;
}

.grid > div:hover img {
    filter: drop-shadow(0px 0px 5px #FFFFFF);
    transform: scale(1.1);
}

.youtube {
    border-top-left-radius: 16px;
    background-color: #ed0000;
    filter: drop-shadow(0px 0px 5px #ed000080);
}

.twitter {
    background-color: #3f9ff1;
    filter: drop-shadow(0px 0px 5px #3f9ff180);
}

.amazon {
    border-top-right-radius: 16px;
    background-color: #f77a00;
    filter: drop-shadow(0px 0px 5px #f77a0080);
}

.facebook {
    background-color: #2f57b1;
    filter: drop-shadow(0px 0px 5px #2f57b180);
}

.snapchat {
    background-color: #f9bb10;
    filter: drop-shadow(0px 0px 5px #f9bb1080);
}

.spotify {
    background-color: #0b5626;
    filter: drop-shadow(0px 0px 5px #0b562680);
}

.tiktok {
    border-bottom-left-radius: 16px;
    background-color: #000000;
    filter: drop-shadow(0px 0px 5px #00000080);
}

.netflix {
    background-color: #da060e;
    filter: drop-shadow(0px 0px 5px #da060e80);
}

.whatsapp {
    border-bottom-right-radius: 16px; background-color: #4fba1a;
    filter: drop-shadow(0px 0px 5px #4fba1a80);
}